.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;

  &.transparent {
    background-color: transparent;
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}
