@import 'styles/_functions';

$intro-in: 800ms;
$intro-out: 600ms;

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--pink);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);

  @include mobile {
    display: none;
  }

  &.out {
    transition: transform $intro-out var(--ease-out-expo);
    transform: translate3d(0, -100%, 0) translateZ(0);
    transition-delay: calc($intro-in + 0ms);
    pointer-events: none;
  }

  .start {
    transform: translate3d(0, calc(var(--index) * 5% + 100%), 0);
  }

  .relative {
    padding: desktop-vw(30px) desktop-vw(32.5px);

    transition: transform $intro-out var(--ease-out-expo);
    transform: translate3d(0, desktop-vh(850px), 0);
    transition-delay: calc($intro-in + 0ms);

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show {
    transition: transform $intro-in var(--ease-out-expo);
    transition-delay: calc(var(--index) * 50ms);
    transform: translate3d(0, 0, 0);
  }
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lns {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companyName {
  font-family: var(--font-anton);
  font-size: desktop-vw(120px);
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  line-height: 1;

  @include mobile {
    font-size: mobile-vw(48px);
  }
}

.translate {
  @include desktop {
    transform: translate3d(0, -100%, 0);
    transition: transform $intro-out var(--ease-out-expo);
  }
}

.mobile {
  @include mobile {
    transform: translate3d(0, -105%, 0);
  }
}
