@import 'styles/_functions';

.features {
  height: 1000vh;

  @include desktop {
    min-height: desktop-vw(1310px);
  }

  .card {
    --d: 100vh;

    position: absolute;
    will-change: transform, opacity, filter;
    transition-duration: 0.8s;
    transition-property: opacity, transform, filter;
    transition-timing-function: var(--ease-out-expo);
    transform: translate3d(
        calc(var(--progress) * var(--depth) * 100%),
        calc(var(--progress) * var(--depth) * 100%),
        0
      )
      scale(calc(1 - var(--progress) * var(--depth) * 0.1));
    opacity: calc(1 - var(--progress) * var(--depth) * 0.5);
    filter: blur(calc(var(--progress) * var(--depth) * 10px));

    @include mobile {
      @for $i from 0 through 8 {
        &:nth-child(#{$i + 1}) {
          top: calc(
            (
                (
                    (100 * var(--vh, 1vh)) -
                      #{mobile-vw(440px)} -
                      (var(--layout-margin))
                  ) /
                  8
              ) *
              $i
          );
        }
      }
    }

    @include desktop {
      @for $i from 0 through 8 {
        &:nth-child(#{$i + 1}) {
          top: calc(
            (
                (var(--d) - #{desktop-vw(440px)} - (2 * var(--layout-margin))) /
                  8
              ) *
              $i
          );
          left: calc(
            ((100vw - #{desktop-vw(440px)} - (2 * var(--layout-margin))) / 8) *
              $i
          );
        }
      }
    }

    &:not(.current) {
      transform: translate3d(
          calc(var(--depth) * 100%),
          calc(var(--depth) * 100%),
          0
        )
        scale(calc(1 - var(--depth) * 0.1));
      opacity: 0;
      filter: blur(10px);
    }
  }

  .title {
    text-align: end;
    padding-bottom: var(--layout-margin);

    @include desktop {
      padding: 0;
      position: absolute;
      right: var(--layout-margin);
    }
  }
}

.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: var(--layout-margin);

  @include desktop {
  }

  > * {
    position: relative;
  }
}
