@use 'sass:color';

// Each color filled here will create a css variable exposed globally

$colors: (
  'white': rgb(239, 239, 239),
  'grey': rgb(176, 176, 176),
  'black': rgb(0, 0, 0),
  'primary': rgb(0, 100, 150), // Professional blue - can be changed
  'pink': rgb(0, 100, 150), // Keep for compatibility, using primary color
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    // for safari use case: https://ambientimpact.com/web/snippets/safari-bug-with-gradients-that-fade-to-transparent
    --#{$name}-transparent: #{color.change($color, $alpha: 0)};
  }
}
